<div class="bar">
<div class="top-bar rounded-3">
    Menu Administrateur
</div>
</div>
<div class="sidebar rounded-3">
    <a href="/admin" class="menu-item mb-3">Général</a>
    <a href="/admin/Utilisateurs" class="menu-item mb-3">Utilisateurs</a>
    <a href="/admin/commandes" class="menu-item mb-3">Commandes</a>
    <a href="/admin/produits" class="menu-item mb-3">Articles</a>
</div>


