{% extends 'base.html.twig' %}

{% block title %}Hello BrandHistoryController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %} 
{% include "navbar/navbar.html.twig" %}
<div class="container">

    <div class="card1 ">
        <p>Bienvenue chez LBL coffee, où le café est plus qu'une simple boisson, c'est une passion cultivée avec dévouement par nos agriculteurs locaux. Sur nos terres fertiles,
         nichées dans les hauteurs montagneuses, nos agriculteurs travaillent sans relâche pour vous offrir le meilleur café possible.</p>
    </div>

<div class="row p-5">     <div class="col-md-6">
            <img class="card-image12 " src="\images\coffe_1.jpg" alt="Image de l'agriculture" >
        </div>
   
        <div class="col-md-6 mt-8 card14">
            <h4><U> Nos agriculteurs</U></h4>
            <p>L'attention portée aux détails est au cœur de notre processus.
            Nos agriculteurs surveillent de près chaque étape de la croissance, de la floraison à la récolte. Les cerises de café 
            sont récoltées à la main au moment optimal de leur maturité, garantissant une saveur riche et complexe dans chaque tasse.
            </p>
        </div> </div>
    </div>
          




</div>
<div class="row p-5">  <div class="col-md-5 card13">
           
                <h4><U>La toréfactions</U></h4
>
<p>

Nos torréfacteurs, experts en leur domaine, maîtrisent l'art subtil de la torréfaction pour libérer pleinement les saveurs uniques de chaque lot de café. Chaque variété est traitée avec le plus grand soin, avec une attention particulière portée au profil de saveur désiré.
</p></div>
       <div class="col-md-5">
            <img class="card-image12 rounded-4" src="\images\coffe_2.jpg" alt="Image de l'agriculture" >
</div>
 <div class="col-md-2"> </div>
       
<div class="container">

    

<div class="row p-5">
         <div class="col-md-6">
    
            <img class="card-image rounded-4" src="\images\coffe_3.jpg" alt="Image de l'agriculture">
        </div>
        <div class="col-md-6 card9">
         <h4><U>L’origine </U></h4>
        <p>


Nos caféiers prospèrent dans des terres préservées, exemptes de pesticides et d'engrais chimiques. Nous croyons fermement en la préservation de l'équilibre naturel de notre environnement, c'est pourquoi nous cultivons notre café selon des méthodes biologiques certifiées.</p>
        </div>
        
    </div>
    </div>
</div>


    <div class="container">

    

<div class="row p-5">
        <div class="col-md-6 card9">
            <h4><U> Nos cafés </U></h4>
           
<p> 


Notre gamme variée de boissons caféinées offre quelque chose de spécial pour chaque amateur de café. Que vous soyez un passionné d'espresso à la recherche d'une dose d'intensité, un amateur de cappuccino en quête de douceur veloutée, ou que vous préfériez vous rafraîchir avec nos boissons glacées gourmandes, notre sélection répond à toutes vos envies.
 </p>     
   </div>
        <div class="col-md-6">
    <img class="card-image11 rounded-4" src="\images\coffe_4.png" alt="Image de l'agriculture" >
        </div>
    </div>
    </div>
</div>

                
                
                <div class="container">

    

<div class="row p-5">
        <div class="col-md-6 card9">
            <h4><U> Nos machines </U></h4>
           
<p>
Chaque détail de nos machines est pensé pour répondre aux attentes des connaisseurs les plus exigeants. Dotées de fonctionnalités avancées, elles vous offrent un contrôle total sur l'extraction, la température et la mouture, vous permettant ainsi de personnaliser chaque tasse selon vos préférences individuelles.
 </p>     
   </div>
        <div class="col-md-6">
    <img class="card-image11 rounded-4" src="\images\coffe_5.jpg" alt="Image de l'agriculture" >
        </div>
    </div>
    </div>
</div>

        



                

{% endblock %}
