{% extends 'base.html.twig' %}

{% block title %}Hello FooterController!{% endblock %}

{% block body %}

<div class="card text-center brown fixed-bottom">
    <div class="row align-items-center">
        <div class="col">
            <a href=""><img class="m-2" src="/images/Vector.png" width="40px" height="40px" alt="Twitter"></a>
            <a href=""> <img class="m-2" src="/images/Component 10.png" width="40px" height="40px" alt="Instagram"></a>
            <a href=""> <img class="m-2" src="/images/uil_facebook.png" width="40px" height="40px" alt="Facebook"></a>
      </div>
      <div class="card-footer text-muted">
          Copyright 2024 &copy;
        </div>
    </div>
</div>

{% endblock %}
