{% extends 'base.html.twig' %}

{% block title %}
    Capsule Pamukalé
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="cardImages col-md-6">
            <img src="/images/capsule.jpg" alt="Capsule Pamukalé">
        </div>
        <div class="cardCapsule col-md-6">
            <h1>Capsule Pamukalé</h1>
            <p>Plongez dans la culture vibrante d'Istanbul avec notre capsule de café du Bosphore. Chaque gorgée est une invitation à explorer les ruelles animées, les conversations animées et les traditions caféinées qui ont façonné cette ville iconique. Un goût captivant qui capture l'essence même de la vie quotidienne turque.</p>
            <h2>PRIX unité: 0,90€</h2>
             <div class="btn-custom-primary ">
                <input type="button" value="Ajouter au panier" />
                <input type="button" value="quantités" />
            </div>
        </div>
    </div>
</div>
{% endblock %}
